@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
/* @import "tailwindcss/preflight.css" layer(base); */
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
    /*--color-ghost-blue: #007ee6;
    --font-display: "Oswald", sans-serif;*/
    --radius-DEFAULT: 1.5rem;
    --color-primary: #E11D48;
    --color-background-light: #FFFFFF;
    --color-background-dark: #0F172A;
    /* --color-secondary: #ecc94b;
    --color-custom-green: #609966; */
  }


.clay-shadow {
    box-shadow: 0 20px 50px rgba(0,0,0,0.05);
}

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-15px); }
    100% { transform: translateY(0px); }
}
.animate-float {
    animation: float 6s ease-in-out infinite;
}